

/*Global*/
body{
  background-color: black;
}
h1,h2,h3,p,li{
  color: white;
}





/* Espacidado*/
.sectionSpace{
  height: 90vh;
  width: 100vh;
    position: relative;
  
}
.separacion-secciones{
  margin: 10%;
  padding: 5%;
}

/* Background*/

.bgDark{
background-color: black;
}
.bgImg{

background-image: url("/bg-portada.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 100vh; */
  width:100%;
}
.bgGray{
  background-color: thistle;
}

.opacity50{
  background-color: rgba(0, 0, 0, 50%)
}

/*Navegador*/

.img-nav{
  width: 50px;
}


/*Portada*/

/* Position*/

.centerDiv {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);}


  /* Img*/
.imgProps{
width: 30vh;
  }

